@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

#background-color {
    background-color: rgba(172, 239, 241, 0.8);
  }

#title {
  font-size: 40px;
  font-family: 'Source Sans Pro';
}

#description {
  font-size: 28px;
  font-family: 'Source Sans Pro';
}

.form-group {
  font-size: 20px;
  font-family: 'Source Sans Pro';
}

.group-two {
  font-size: 20px;
  font-family: 'Source Sans Pro';
}

.group-three {
  font-size: 20px;
  font-family: 'Source Sans Pro';
}

.group-four {
  font-size: 20px;
  font-family: 'Source Sans Pro';
}

.clue {
  font-size: 18px;
  
}
.group-five{
  font-size: 20px;
  font-family: 'Source Sans Pro';
}

.input-textarea {
  width: 400px;
  height: 150px;
}

   .box-1 {
     background-color: white;
     width: 600px;
     padding: 75px 100px 200px 100px;
     text-align: center;
     border: 5px solid black;
     margin: 100px 300px;
      }